.container { width: 700px; margin: 0 auto;}

.options__item {
  border-top: 1px solid #eeeeee;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px 0;
  text-align: left;
}

.o__title {
  color: #666666;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-right: 35px;
  padding-bottom: 5px;
  text-transform: uppercase;
  width: 230px;
}

.o__content {
  color: #666666;
  display: block;
  font-size: 16px;
  width: 370px;
}

.o__content button {
  background-color: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
}